annotated-types
anyio
certifi
charset-normalizer
click
colorama
et-xmlfile
fastapi
h11
httptools
idna
joblib
nltk
numpy
openpyxl
pandas
pyarrow
pydantic
pydantic_core
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
scipy
six
sniffio
starlette
textblob
tqdm
typing_extensions
tzdata
urllib3
uvicorn
watchfiles
websockets
